<body text="#000000" link="#0000ff" bgcolor="#ffffff"><center><table width="80%">
<tr><td><h1>openvasmd</h1>
<h2>Manager daemon of the Open Vulnerability Assessment System (OpenVAS)</h2>


  <h2>Synopsis</h2>
<b>
    openvasmd OPTIONS<br>

  </b>


  <h2>Description</h2>

    <p>
      OpenVAS Scanner, openvassd(8), acts as a service and offers a
      communication protocol for its clients called OTP. The core
      task of the OpenVAS Scanner is the actual scan process.
    </p>

    <p>
      The OpenVAS Manager is a OTP client and adds various management
      functionalities to handle and organise scan results.
      Thus OpenVAS Manager acts as a layer between the
      OpenVAS Scanner and its own clients (for example omp(8),
      gsad(8) or gsd(8)) which connect via the OMP protocol
      to the OpenVAS Manager.
    </p>

    <p>
      A related service is OpenVAS Administrator, openvasad(8) which
      among other tasks also manages user accounts for OpenVAS.
    </p>
  


  <h2>Options</h2>

    
      <p><b>-a, --listen=<em>ADDRESS</em></b></p>
      <p>Listen on ADDRESS.</p>
    

    
      <p><b>--create-user=<em>USERNAME</em></b></p>
      <p>Create admin user USERNAME and exit.</p>
    

    
      <p><b>--role=<em>ROLE</em></b></p>
      <p>Role for --create-user option.</p>
    

    
      <p><b>--delete-user=<em>USERNAME</em></b></p>
      <p>Delete user USERNAME and exit.</p>
    

    
      <p><b>--get-users</b></p>
      <p>List users and exit.</p>
    

    
      <p><b>--create-scanner=<em>NAME</em></b></p>
      <p>Create scanner NAME and exit.</p>
    

    
      <p><b>--scanner-host=<em>HOST</em></b></p>
      
        <p>Scanner host for --create-scanner, --rebuild and --update. Default is 127.0.0.1.</p>
      
    

    
      <p><b>--scanner-port=<em>PORT</em></b></p>
      
        <p>Scanner port for --create-scanner, --rebuild and --update. Default is 9391.</p>
      
    

    
      <p><b>--scanner-type=<em>TYPE</em></b></p>
      <p>Type for --create-scanner option.
                  Could be &quot;OpenVAS Scanner&quot; or &quot;OSP Ovaldi&quot;.</p>
    

    
      <p><b>--scanner-ca-pub=<em>CAPUB</em></b></p>
      <p>Scanner CA public key path for --create-scanner.</p>
    

    
      <p><b>--scanner-key-pub=<em>KEYPUB</em></b></p>
      <p>Scanner public key path for --create-scanner.</p>
    

    
      <p><b>--scanner-key-priv=<em>KEYPRIV</em></b></p>
      <p>Scanner private key path for --create-scanner.</p>
    

    
      <p><b>--delete-scanner=<em>UUID</em></b></p>
      <p>Delete scanner with UUID and exit.</p>
    

    
      <p><b>--get-scanners</b></p>
      <p>List scanners and exit.</p>
    

    
      <p><b>--gnutls-priorities=<em>PRIORITY</em></b></p>
      <p>Set the GnuTLS priority string to PRIORITY.</p>
    

    
      <p><b>--dh-params=<em>FILE</em></b></p>
      <p>Path to file containing Diffie-Hellman parameters which
                  are needed for DHE-RSA. This file could be generated using
                  openssl or certtool.</p>
    

    
      <p><b>--max-email-attachment-size=<em>SIZE</em></b></p>
      
        <p>
          Maximum number of bytes permitted in alert email attachments.
        </p>
        <p>
          0 to use the default, negative to allow any size.
        </p>
      
    

    
      <p><b>--max-email-include-size=<em>SIZE</em></b></p>
      
        <p>
          Maximum number of bytes permitted in reports inlined in alert email
          attachments.
        </p>
        <p>
          0 to use the default, negative to allow any size.
        </p>
      
    

    
      <p><b>--max-ips-per-target=<em>SIZE</em></b></p>
      
        <p>
          Maximum number of IPs per target.
        </p>
      
    

    
      <p><b>-u, --update</b></p>
      
        <p>Updates the database with information from a running
           scanner (openvassd) and exits.</p>
      
    

    
      <p><b>-p, --port=<em>NUMBER</em></b></p>
      
        <p>Listen on port number <em>NUMBER</em>.</p>
      
    

        
      <p><b>--rebuild</b></p>
      
        <p>Rebuild the database with information from a running
           scanner (openvassd) and exits.</p>
      
    

    
      <p><b>--version</b></p>
      <p>Print version.</p>
    

    
      <p><b>-v, --verbose</b></p>
      <p>Print progress messages.</p>
    

    
      <p><b>-?, --help</b></p>
      <p>Show help.</p>
    
  

  <h2>SIGNALS</h2>

    <p>SIGHUP causes openvasmd to rebuild the database with information from
       the Scanner (openvassd).</p>
  


  <h2>EXAMPLES</h2>

    <p>openvasmd --port 1241</p>
    <p>Serve OMP clients on port 1241 and connect to a OTP server on 7772.</p>
  


  <h2>SEE ALSO</h2>

    <p>
      <b>openvassd (8)</b>,
      <b>openvasad (8)</b>,
      <b>gsad (8)</b>,
      <b>omp (8)</b>,
      <b>gsd (8)</b>
    </p>
  


  <h2>MORE INFORMATION ABOUT THE OpenVAS PROJECT</h2>

    <p>
      The canonical places where you will find more information
      about the OpenVAS project are:

      <a href = "http://www.openvas.org/">http://www.openvas.org/</a>
        (Official site)

      <a href = "http://wald.intevation.org/projects/openvas/">http://wald.intevation.org/projects/openvas/</a>
        (Development Platform)
    </p>
  


  <h2>COPYRIGHT</h2>

    <p>
      The OpenVAS Manager is released under the GNU GPL, version 2,
      or, at your option, any later version.
    </p>
  


</td></tr></table></center>
</body>
